.Selector-dropdown {
    display: inline-block;
    background: #33495e;
    padding: 20px;
    margin-top: 25px;
}

.Selector-dropdown a.itype {
    background: #233648;
}

.Selector-dropdown a.itype:hover {
    background: #5987b5;
}

.Selector a{
    cursor: pointer;
}

.Selector .itype{
    background: #33495e;
    border-radius: 50%;
    padding: 12px 14px;
}

.Selector .itype:hover{
    background: #5987b5;
}