.Details a {
    background-color: #33495e;
    color: #ffffff;
    text-decoration: none;
    padding: 5px 10px;
}

.Details ul {
    list-style: none;
    padding: 0;
    color: #fff;
}

.Details ul li {
    padding-bottom: 10px;
}

.Details ul li:nth-child(1) {
    font-size: 50px;
    margin-bottom: 20px;
}