.Counter {
}

.Counter-decrease,
.Counter-increase {
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    background-color: #34495e;
    width: 40px;
}

.Counter-decrease:hover,
.Counter-increase:hover {
    background: #5987b5;
}

.Counter-decrease {

}

.Counter-increase {

}

.Counter-quantity {
    width: 50px;
    display: inline-block;
    background: transparent;
    text-align: center;
    color: #ffffff;
}