* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #181818;
}

.title {
  font-size: 20px;
  color: #ffffff;
}

.itype {
  color: #ffffff;
  font-size: 30px;
  margin: 0 5px;
}

.hidden {
  display: none;
}
