.List {
    padding: 0 25px;
    color: #ffffff;
}

.List-product {
    display: inline-block;
    width: 100%;
    background-color: #33495e;
}

.List-product:hover {
    background-color: #273d52;
}

.List-product-block {
    width: 33.33333333%;
    float: left;
}

.List-product-block img {
    padding-top: 15px;
}

.List-product-block:nth-child(1) {
    text-align: left;
    line-height: 120px;
    padding-left: 20px;
}

.List-product-block:nth-child(3) {
    text-align: right;
}

.List-product-block .Counter-decrease,
.List-product-block .Counter-increase {
    background-color: #202d3a;
}

.List-product-total {
    font-size: 14px;
    color: #929391;
}

.List-product-button {
    width: 35px;
    height: 35px;
    background-color: #202d3a;
    font-size: 24px;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    text-align: center;
}

.List-product-button:hover {
    background-color: #5987b5;
}

.List-summary {
    text-align: left;
}