.Creator {

}

.Creator-block {
    margin-bottom: 25px;
}

.Creator-block input {
    width: 100%;
    height: 32px;
    background-color: #33495e;
    padding: 0 10px;
    font-size: 14px;
    border: none;
    color: #ffffff;
}

.Creator-add {
    width: 120px;
    height: 32px;
    background-color: #292c2f;
    color: #929391;
    font-size: 14px;
    border: none;
    outline: none;
    cursor: pointer;
}

.Creator-add[disabled] {
    cursor: not-allowed;
}